
<!-- Site build date: {{ "now" | date: "%FT%T%z" }} -->
<head>
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1022887279608113');
  fbq('track', 'ViewContent');
  fbq('track', 'Purchase', {currency: "USD", value: 30.00});
</script>
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1022887279608113&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Begin SEO -->
  {% seo %}
  <!-- End SEO -->

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="/css/override.css">

  {% feed_meta %}


  <!-- Begin highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/github.css">
  <link rel="stylesheet" href="/js/highlightjs/styles/ssms.css" />

  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>

  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/powershell.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/tsql.min.js"></script>

  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->
</head>
